/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: 
       url('../fonts/source-sans-pro-v19-latin-regular.woff2') format('woff2'), 
       url('../fonts/source-sans-pro-v19-latin-regular.woff') format('woff');
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: 
       url('../fonts/source-sans-pro-v19-latin-600.woff2') format('woff2'), 
       url('../fonts/source-sans-pro-v19-latin-600.woff') format('woff');
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: 
       url('../fonts/source-sans-pro-v19-latin-700.woff2') format('woff2'),
       url('../fonts/source-sans-pro-v19-latin-700.woff') format('woff');
}

*{
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro',sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100vh;
}
.big-row {
  height: 100vh;
}
.chat-items {
  max-width: 600px;
  min-width: 320px;
  height: 66px;
  padding: 0;
  padding-top: 7px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;

}
.chat-items__row {
  margin: 0;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.chat-items:hover {
  background-color: #56a3dd;
}
.first-column {
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-list {
  max-width: 600px;
  
  overflow: auto;
  margin: 0;
}
.avatar {
  width: 80px;
  height: 50px;
  display: flex;align-items: center;
  justify-content: center;
}
.telegram {
  align-self: flex-start;
}
.col-3-date {
  width: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dont-pinned {
  margin-top: 3px;
  justify-content: start;
}
.person-name {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro' sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0608696px;
  color: #333333;
}
.secondary-name {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #333333;
}
.chat-text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.0565218px;
  color: #999999;
}
.date {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0521739px;
  color: #999999;
}
.person-name:hover, .secondary-name:hover, .chat-text:hover, .date:hover {
  color: white;
}
.avatar, .name, .col {
  padding: 0;
}
.new-chat {
  width: 38px;
  height: 29px;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}
.searching-page {
  max-width: 600px;
  height: 47px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.searching-col {
  width: 224px;
  position: relative;
}
.searching-place {
  width: 224px;
  height: 29px;
  text-align: center;
  border: 0;
  border-radius: 8px;
  background-color: #f4f4f4;
}
.searching::before {
  content: url(../img/search.png);
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 2;
  left: 57px;
  bottom: 11px;
}
.navigation {
  max-width: 600px;
  height: 49px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


.second-column {
  min-width: 500px;
  max-width: 700px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.col-header {
  height: 47px;
  padding-left: 20px;
  padding-right: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.close-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0608696px;
  color: #2481CC;
  text-decoration: none;
}
.last-seen {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0521739px;
  color: #A9A9A9;
}
.chat-page {
  
  margin: 0;
  padding: 0;
  padding-left: 66px;
  padding-right: 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.chat-page-item {
  margin-top: 11px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-page-item::before {
  content: url(../img/avatar1.png);
  width: 36px;
  height: 36px;
  position: absolute;
  left: -53px;
  top: 0;
}
.evgenia::before {
  content: url(../img/evgenia2.png);
}
.per-name {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
  color: #2481CC;
}
.per-text {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
  color: #060606;
  margin: 0;
}
.chat-date {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.0521739px;
  color: #999999;
}
.chat-date::before {
  position: relative;
  left: -4px;
  content: url(../img/read.png);
  width: 17px;
  height: 8px;
}
.text-link {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
  color: #2481CC;
  text-decoration: none;
}
.content {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
}
.chat-section {
  position: relative;
}
.go-link {
  height: 120px;
  position: relative;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.go-link::before {
  content: " ";
  width: 3px;
  height: 120px;
  background-color: #66a7db;
  position: absolute;
  left: -10px;
}
.go-link-content {
  width: 330px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.go-link-2 {
  height: 77px;
}
.go-link-2::before {
  content: " ";
  height: 77px;
}
.content-img {
  position: relative;
  top: -10px;
}
.chatting-date {
  margin-top: 12px;
  align-self: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0565218px;
  color: #999999;
}




.write-mes {
  max-width: 700px;
  height: 49px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  border: 0;
  width: 340px;
}
.put-file {
  border: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  background-color: transparent;
}
.smiles {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.voice {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.put-file ~ .message {
  margin-right: 27px;
}








.third-column {
  max-width: 800px;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.third-column__header {
  max-width: 600px;
  padding-right: 14px;
  height: 47px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.edit-btn  {
  color: #2481CC;
  margin-left: 28px;
}





@media only screen and (max-width: 900px) {
  .third-column {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .first-column {
    display: none;
  }
}